.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--base-spacing);
    padding-bottom: var(--base-spacing);
    background-color: var(--primary-color);
}

.logoAndSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}