.card {
    border: 1px solid transparent;
    background-color: var(--white-color);
}

.card:hover {
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    margin: 0 auto;
    padding: var(--base-spacing);
    width: 100%;
    max-width: 900px;
}

.info {
    margin-top: calc(var(--base-spacing)*2);
}

.price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.amount {
    margin-left: var(--base-spacing);
}

.title {
    margin-top: calc(var(--base-spacing)*2);
}

.condition {
    margin-top: calc(var(--base-spacing)*2);
}